<h1>Cartel Distribution Server: {{server.name}}</h1>

<h2>Attention Regular Users</h2>

<p>Howdy! This is the home page for a Cartel distribution server. You will not need to be here ever unless your trying to manually patch your Cartel version :P.</p>

<h2>Paths</h2>

<p>Ensure your <code>*.pw.toml</code> and <code>pack.toml</code>/<code>index.toml</code> files point to the following to ensure content delivery:</p>

<p><strong>Packwiz Varient Root</strong>: <code>{{server.url}}/download/&lt;version&gt;/&lt;type&gt;/pack.toml</code></p>

<p><strong>Packwiz Resource Files</strong>: <code>{{server.url}}/resource/&lt;version&gt;/&lt;type&gt;?p=&lt;file path&gt;</code></p>